@import "tailwindcss";

:root {
  --primary-50: #e6ecf0;
  --primary-100: #cdd9e1;
  --primary-200: #a8bcca;
  --primary-300: #82a0b4;
  --primary-400: #5d849d;
  --primary-500: #386786;
  --primary-600: #064168;
  --primary-700: #053758;
  --primary-800: #042a44;
  --primary-900: #031d2f;
  --primary-rgb: 6, 65, 104;
}
